* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #5F0F40;
    height: 100vh;
}
.app {
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.score-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score-counter-cont{
    display: flex;
    gap: 5px;
    font-weight: 600;
}
.line {
    width: 100%;
    height: 2px;
    background: #5F0F40;
    margin: 15px auto;
}
h1 {
    font-size: 1.3rem;
}
h2 {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 15px;
}
#answer-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn {
    width: 100%;
    text-align: left;
    font-size: .8rem;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid #5F0F40;
    border-radius: 5px;
    transition: all .4s;
}

.btn-next-control {
    margin-top: 15px;
    text-align: right;
    display: none;
}
.btn-next {
    border: none;
    font-size: .8rem;
    padding: 10px 30px;
    background: #5F0F40;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.correct {
    background-color: #4CAF50;
    color: white;
}
.incorrect {
    background-color: #F44336;
    color: white;
}
.score-section, .review-section {
    text-align: center;
    margin-top: 20px;
}
.btn-restart, .btn-review {
    border: none;
    font-size: .8rem;
    padding: 10px 30px;
    background: #5F0F40;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
#review-container {
    margin-top: 20px;
}
.review-question {
    margin-bottom: 20px;
}
.review-section h2{
    font-size: 1rem;
    letter-spacing: 2px;
}
.review-answer {
    margin-left: 20px;
}

.review-question-one{
    font-size: 1rem;
    font-weight: 600;

}
.review-question-two{
    font-size: .8rem;
}
.correct-answer{
    font-size: .8rem;
    font-weight: 600;
}
.correct-answer-one {
    color: green;
    font-size: .8rem;
}
.incorrect-answer {
    color: red;
    font-size: .8rem;
}
.review-section{
    display: none;
    width: 100%;
    height: 300px;
    overflow: auto;
}
.change-Category{
    text-align: right;
    margin-top: 20px;
}
.change-Category a{
    text-decoration: none;
    font-size: .8rem;
    color: #fff;
    background: #5F0F40;
    padding: 5px 20px;
    border-radius: 8px;
}

@media all and (max-width:1000px){
    h1{
        font-size: 1rem;
    }
}

@media all and (max-width:850px){
    .app {
        width: 50%;
    }
}
@media all and (max-width:700px){
    .app {
        width: 60%;
    }
}
@media all and (max-width:600px){
    .app {
        width: 70%;
    }
}
@media all and (max-width:500px){
    .app {
        width: 80%;
    }
}
@media all and (max-width:400px){
    .app {
        width: 90%;
    }
}
@media all and (max-width:350px){
    h1{
        font-size: .9rem;
    }
}
